<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.remountnetworkdrive</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/users/yourusername/tools/nas_media_connect/media_nas_connect.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/remount_network_drive.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/remount_network_drive_error.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>WatchPaths</key>
    <array>
        <string>/tmp/.SleepResume</string>
    </array>
</dict>
</plist>

